{{ define "index" }}
{{ with $.Data }}
{{ with .Components }}
<nav><ul class="crumbs">{{ range . }}<li><a href="{{ .Path }}">{{ .Name }}</a></li>{{ end }}</ul></nav>
{{ end }}
<table id="files">
  <thead>
    <tr>
      <th class="n{{ if eq .SortCol "n" }} sort{{ if .SortRev }} rev{{ end }}{{ end }}">
        <a href="{{ $.Path }}?s=n{{ if eq .SortCol "n" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Name</a>
      </th>
      <th class="s{{ if eq .SortCol "s" }} sort{{ if .SortRev }} rev{{ end }}{{ end }}">
        <a href="{{ $.Path }}?s=s{{ if eq .SortCol "s" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Size</a>
      </th>
      <th class="m{{ if eq .SortCol "m" }} sort{{ if .SortRev }} rev{{ end }}{{ end }}">
        <a href="{{ $.Path }}?s=m{{ if eq .SortCol "m" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Modified</a>
      </th>
      <th class="p">Mode</th>
    </tr>
  </thead>
  <tbody>
    {{ if len $.Data.Components | lt 1 }}
    <tr class="up">
      <td class="n"><a href="..">..</a></td>
    </tr>
    {{ end }}
    {{ range .Entries }}
    <tr class="{{ if .IsDir }}d{{ else }}f{{ end }}{{ if .IsLink }} l{{ end }}">
      <td class="n"><div><a href="{{ .Path }}">{{ .Name }}</a></div></td>
      <td class="s">{{ if .IsDir }}{{ .NumEntries }} {{ if eq .NumEntries 1 }}file{{ else }}files{{ end }}{{ else }}{{ .Size }}{{ end }}</td>
      <td class="m"><time>{{ .Mod.Format "2006-01-02 15:04" }}</time></td>
      <td class="p">{{ .FileMode }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ if .Gallery }}
<section class="gallery">
  {{ template "nav" $ }}
  <section class="gallery-items">
    {{ range .ImageFiles }}
    <figure>
      <a href="{{ .Path }}"><img src="{{ .Path }}?t=1" alt="{{ .Name }}"></a>
      <figcaption>{{ .Name }} <span class="s">({{ .Size }})</span></figcaption>
    </figure>
    {{ end }}{{/* range .ImageFiles */}}
  </section>
  {{ template "nav" $ }}
</section>
{{ end }}{{/* if .Gallery */}}
<aside id="total">{{ .NumEntries }} file{{ if ne .NumEntries 1 }}s{{ end }}{{ if .Config.ZipFolderEnable }} | <a href="?zip=1">Download as zip</a> (<a href="?zip=1&rec=1">recursively</a>){{ end }}</aside>
{{ if .Readme }}
<article>
  {{ if .PlainReadme }}
  <pre class="readme">{{ string .Readme }}</pre>
  {{ else }}
  {{ markdown .Readme }}
  {{ end }}
</article>
{{ end }}
{{ end }}
{{ end }}

{{ define "nav" }}
{{ with .Data }}
  <nav class="gallery-pagination">
    {{ if gt .GalleryPage 1 }}<a href="{{ $.Path }}?p={{ .PrevPage }}">←</a>{{ else }}<span style="visibility: hidden">←</span>{{ end }}
    {{ .GalleryPage }} &#xff0f; {{ .GalleryPages }}
    {{ if lt .GalleryPage .GalleryPages }}<a href="{{ $.Path }}?p={{ .NextPage }}">→</a>{{ else }}<span style="visibility: hidden">→</span>{{ end }}
  </nav>
{{ end }}
{{ end }}
