{{ define "index" }}
{{ with $.Data }}
{{ with .Components }}
<ul class="crumbs">{{ range . }}<li><a href="{{ .Path }}">{{ .Name }}</a></li>{{ end }}</ul>
{{ end }}
{{ if .Entries }}
<table id="files">
  <thead>
    <tr>
      <th{{ if eq .SortCol "n" }} class="sort{{ if .SortRev }} rev{{ end }}"{{ end }}>
        <a href="{{ $.Path }}?s=n{{ if eq .SortCol "n" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Name</a>
      </th>
      <th{{ if eq .SortCol "s" }} class="sort{{ if .SortRev }} rev{{ end }}"{{ end }}>
        <a href="{{ $.Path }}?s=s{{ if eq .SortCol "s" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Size</a>
      </th>
      <th{{ if eq .SortCol "m" }} class="sort{{ if .SortRev }} rev{{ end }}"{{ end }}>
        <a href="{{ $.Path }}?s=m{{ if eq .SortCol "m" }}{{ if not .SortRev }}&r=1{{ end }}{{ end }}">Modified</a>
      </th>
      <th>Mode</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Entries }}
    <tr class="{{ if .IsDir }}d{{ else }}f{{ end }}{{ if .IsLink}} l{{ end }}">
      <td class="n"><a href="{{ .Path }}">{{ .Name }}</a></td>
      <td class="s">{{ if .IsDir }}{{ .NumEntries }} {{ if eq .NumEntries 1 }}file{{ else }}files{{ end }}{{ else }}{{ .Size }}{{ end }}</td>
      <td class="m">{{ .Mod.Format "2006-01-02 15:04" }}</td>
      <td class="p">{{ .FileMode }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
{{ if .Gallery }}
<section class="gallery">
  {{ template "nav" $ }}
  <section class="gallery-items">
    {{ range .ImageFiles }}
    <figure>
      <a href="{{ .Path }}"><img src="{{ .Path }}" alt="{{ .Name }}"></a>
      <figcaption>{{ .Name }} <span class="s">({{ .Size }})</span></figcaption>
    </figure>
    {{ end }}
  </section>
  {{ template "nav" $ }}
</section>
{{ end }}
<aside id="total">{{ with $l := .NumEntries }}{{ $l }} file{{ if ne $l 1 }}s{{ end }}{{ end }}</aside>
{{ if .Readme }}
<article>
  {{ if .PlainReadme }}
  <pre class="readme">{{ string .Readme }}</pre>
  {{ else }}
  {{ markdown .Readme }}
  {{ end }}
</article>
{{ end }}
{{ end }}
{{ end }}

{{ define "nav" }}
{{ with .Data }}
  <nav class="gallery-pagination">
    {{ if gt .GalleryPage 1 }}<a href="{{ $.Path }}?p={{ .PrevPage }}">←</a>{{ else }}<span style="visibility: hidden">←</span>{{ end }}
    {{ .GalleryPage }} &#xff0f; {{ .GalleryPages }}
    {{ if lt .GalleryPage .GalleryPages }}<a href="{{ $.Path }}?p={{ .NextPage }}">→</a>{{ else }}<span style="visibility: hidden">→</span>{{ end }}
  </nav>
{{ end }}
{{ end }}
