{{ define "layout" }}<!doctype html>
<html>
  <head>
    <title>{{ $.Path }}</title>
    <base href="//{{ .G.Host }}{{ $.Path }}/">
    <link rel="stylesheet" href="/static/i.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <section id="main">
      {{ content }}
    </section>
  </body>
</html>
{{ end }}
